.content-bar-element{
    font-size: 1.3em;
}
.title{
    font-size: 3em;
}
.title-hover-anim:hover{
    animation-iteration-count: infinite;
    animation-name: color;
    animation-duration: 1s;
}
@keyframes color{
    25%     {color: var(--red-100);}
    50%     {color: var(--green-100);}
    75%     {color: var(--blue-100);}
    100%     {color: black;}
}
@media only screen and (max-width: 850px) {
    .media-rule-content-bar{
        flex-direction: column;
        background-color: black;
    }
    .media-rule-content-bar a{
        color: white;
    }
    .show-on-media-rule{
        display: block;
    }
}